<link rel="shortcut icon" type="image/x-icon" href="{{ "/ui/favicon.ico" | relative_url }}"> 
<link rel="stylesheet" href="{{ "/static_files/css/styles.css" | relative_url }}"> 
<link rel="stylesheet" href="{{ "/static_files/thirdparty/bootstrap/dist/css/bootstrap.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/ui/thirdparty/font-awesome/css/font-awesome.min.css" | relative_url }}">
<link rel="stylesheet" href="{{ "/static_files/css/viglet.css" | relative_url }}">
<style>
    #shlogo span {
        animation: glow 2s ease-in-out both infinite;
    }

    #shlogo span:nth-child(1) {
        animation-delay: -0.2857142857s;
    }

    #shlogo span:nth-child(2) {
        animation-delay: -0.5714285714s;
    }

    #shlogo span:nth-child(3) {
        animation-delay: -0.8571428571s;
    }

    #shlogo span:nth-child(4) {
        animation-delay: -1.1428571429s;
    }

    #shlogo span:nth-child(5) {
        animation-delay: -1.4285714286s;
    }

    #shlogo span:nth-child(6) {
        animation-delay: -1.7142857143s;
    }

    .shglow span:nth-child(7) {
        animation-delay: -2s;
    }

    @keyframes glow {

        0%,
        100% {
            text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px tomato, -25px 25px 50px yellow, 25px 25px 50px tomato;
        }

        33% {
            text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px cyan, -25px 25px 50px tomato, 25px 25px 50px cyan;
        }

        66% {
            text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px yellow, -25px 25px 50px cyan, 25px 25px 50px yellow;
        }
    }
</style>