<header class="p-3 bg-dark text-white">

  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img style="margin: 5px; margin-top:10px; padding: 0px; width: 110px; height: 30px" alt="Viglet"
          src="/static_files/img/viglet_logo_header.png">
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="padding-top: 4px;">
      </ul>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" style="padding-top: 4px;">
        {% for category in site.categories %}
        <li><a href="{{category.url}}" class="nav-link px-2 text-white">{{category.menu-title}}</a></li>
        {% endfor %}
        <li><a href="/partner" data-toggle="tooltip" title="Become a Partner" class="nav-link px-2"
            style="color:#ffc63a">Become a Partner</a></li>
      </ul>
      <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
        <a title="Contact" href="#contact"><i class="bi bi-chat" style="color:white;font-size: 25px;"
            aria-hidden="true"></i></a>
      </div>
      <div class="dropdown">
        <a href="#" class="text-white" id="dropdownProducts" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
            class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
            <path
              d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V7zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-2zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-2z">
            </path>
          </svg>
        </a>
        <div class="dropdown-menu  dropdown-menu-left" aria-labelledby="dropdownProducts"
          style="width: 235px;padding: 15px;">
          <div class="row container" style="margin: 0px;">
            {% assign stable_solutions = site.solutions | where:"status", "stable" %}
            <span style="font-size: 15px;padding: 0px;font-weight: bolder;">Products</span>
            {% for solution in stable_solutions %}
            <div class="col-6" style="padding: 10px 0px;;">
              <a href="{{ solution.permalink }}" data-toggle="tooltip"
                title="{{ solution.short_name }} - {{ solution.description }}"
                style="text-decoration: none;display: table-cell;">
                <div
                  style="text-align: left;margin-right: 3px;margin-left:3px; margin-top: 0px; letter-spacing: 0;line-height: 1.42857143;margin-bottom: 0;color: #a4b1b2;text-transform: none;">
                  <div
                    style="
                        margin-bottom: 6px;background: {{ solution.main-color }};width: 48px;height: 48px;color: papayawhip;padding-top: 10px;padding-left: 4px;font-size: 20px;font-weight: bolder;border-radius: 6px;">
                    <div style="margin-top: 5px; margin-left: 2px;">
                      {{ solution.logo-acronym }}
                    </div>
                  </div>
                  <span style="font-size: 15px;color: black">{{ solution.short-name }}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
          <div class="row container border-top" style="margin: 0px;">
            <span style="font-size: 15px;padding: 0px;font-weight: bolder;margin-top: 10px;">Service</span>
            <a href="https://www.doleedo.com/" target="_blank"
              style="text-decoration: none;display: table-cell;padding: 0px;padding-top: 10px;">
              <div>
                <img src="/static_files/svg/doleedo-logo-only.svg" style="width: 48px">
              </div>
              <span style="font-size: 15px;color: black">Doleedo</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>