<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description"
    content="{{ page.description }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:image" content="https://viglet.com/static_files/img/viglet_logo_hd.png">
  <meta property="og:site_name" content="{{ page.title }}">
  <meta property="og:url" content="http://viglet.com{{ page.permalink }}">
  <meta property="og:description"
    content="{{ page.description }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@openviglet">
  <meta name="twitter:creator" content="@openviglet">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description"
    content="{{ page.description }}">
  <meta name="twitter:image" content="https://viglet.com/static_files/img/viglet_logo_hd.png">
  {%- include custom-head.html -%}
</head>