{% for solution in stable_solutions %}
<div class="row text-center" style="margin: 0px;margin-top:50px;display: inherit;">
    <div class="col-lg-2 col-md-3  col-centered hidden-xs hidden-sm;" style="max-width: 205px;">

        {%- if solution.service-url -%}
        <a target="_blank" href="{{ solution.service-url }}">
            <div style="text-align: center;margin-bottom: 20px">
                <img src="{{ solution.logo }}" style="width: 180px;">
            </div>
        </a>
        {%- else -%}
        <a href="{{ solution.permalink }}">
            {%- include solution-home-logo.html -%}
        </a>
        {%- endif -%}

    </div>
    <div class="col-lg-7 col-md-6 col-centered" style="padding-left:40px">
        <h2> {%- if solution.service-url -%}
            <a href="{{ solution.service-url }}" target="_blank" style="color:#444;text-decoration: none;font-weight: bolder;">{{
                solution.short-name }}</a>
            {%- else -%}
            <a href="{{ solution.permalink }}" style="color:#444;text-decoration: none;font-weight: bolder;">{{
                solution.short-name }}</a>
                {%- endif -%}
            </h2>
        <h3>{{ solution.description }}</h3>
    </div>
</div>
{% endfor %}