<header class="p-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <div class="navbar-header pull-left">
                <a href="{{ solution.permalink }}" style="text-decoration: none;">
                    {%- if page.logo -%}
                    <div style="text-align: center;margin-bottom: 20px">
                        <img src="{{ page.logo }}" style="width: 40px;">
                    </div>
                    {%- else -%}
                    <div class="pull-right hidden-xs"
                        style="line-height: 1.42857143;">
                        <div
                            style="background: {{ solution.main-color }};width: 40px;height: 40px;color: navajowhite;padding-top: 2px;padding-left: 4px;font-size: 18px;font-weight: bolder; border-width: 1px; border-style: solid;border-radius: 5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);">
                            <div style="margin-top: 8px;">
                                {{ solution.logo-acronym }}
                            </div>
                        </div>
                    </div>
                    {%- endif -%}
                </a>
            </div>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ solution.permalink }}" class="nav-link px-2 fs-5  d-none  d-lg-block" style="color: black;font-weight: bolder;" >{{ solution.short-name }}</a></li>
        </ul>
      </div>
    </div>
  </header>