<header class="p-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <div class="navbar-header pull-left">
                <a href="{{ solution.permalink }}" style="text-decoration: none;">
                    <div class="pull-right hidden-xs"
                        style="line-height: 1.42857143;">
                        <div
                            style="background: {{ solution.main-color }};width: 40px;height: 40px;color: navajowhite;padding-top: 2px;padding-left: 4px;font-size: 18px;font-weight: bolder; border-width: 1px; border-style: solid;border-radius: 5px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);">
                            <div style="margin-top: 8px;">
                                {{ solution.logo-acronym }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </a>
  
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{{ solution.permalink }}" class="nav-link px-2 fs-5  d-none  d-lg-block" style="color: black;font-weight: bolder;" >{{ solution.short-name }}</a></li>
        </ul>
  
        <div class="text-end">
            <div class="row" style="margin:0px">
                {%- if solution.github -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="GitHub" href="{{ solution.github }}" target="_blank"><i class="bi bi-github" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
                {%- endif -%}
                {%- if solution.slack-url -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="Community" href="{{ solution.slack-url }}" target="_blank"><i class="bi bi-slack" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
                {%- endif -%}
                {%- if solution.twitter-url -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="Twitter" href="{{ solution.twitter-url }}" target="_blank"><i class="bi bi-twitter" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
                {%- endif -%}
                {%- if solution.facebook-url -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="Facebook" href="{{ solution.facebook-url }}" target="_blank"><i class="bi bi-facebook" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
                {%- endif -%}
                {%- if solution.facebook-url -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="YouTube" href="{{ solution.youtube-channel }}" target="_blank"><i class="bi bi-youtube" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
                {%- endif -%}
                <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs" style="width:40px">
                    <a title="Contact" href="#contactForm" ><i class="bi bi-chat" style="color:{{ solution.main-color }};font-size: 25px;" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </header>