<div style="text-align: center;margin-bottom: 32px;" ng-controller="VideosCtrl">
    <div class="viglet-video-main-list">
        <div class="viglet-video-main-item">
            <div class="videoWrapper" style="padding-top: 27px;">
                <iframe iframe class="viglet-video-main-iframe" allowfullscreen="true" frameborder="0"
                    ng-src="{[{firstVideo}]}"></iframe>
            </div>
        </div>
        <div style="display:grid;margin-left: 5px;">
            <div class="viglet-video-other-item" style="margin-bottom: 2.5px;">
                <div class="videoWrapper" style="padding-top: 22px;">
                    <iframe class="viglet-video-other-iframe" allowfullscreen="true" frameborder="0"
                        ng-src="{[{secondVideo}]}"></iframe>
                </div>
            </div>
            <div class="viglet-video-other-item" style="margin-top: 2.5px;">
                <div class="videoWrapper" style="padding-top: 22px;">
                    <iframe class="viglet-video-other-iframe" allowfullscreen="true" frameborder="0"
                        ng-src="{[{thirdVideo}]}"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="viglet-more-videos-label">
        <div class="viglet-more-videos-label-inner">
            <a href="https://www.youtube.com/playlist?list={{ solution.youtube-playlist-id}}" target="_blank"
                style="text-decoration: none;"> <span
                    style="margin-right: 16px;font-size: 16px;font-weight: 500;text-align: center;color: #404040;">More
                    videos</span> <img src="/static_files/svg/caret-right.svg"
                    style="margin-left: 5px;padding: 0px;width: 15px;padding-bottom: 3px;"></a>
        </div>
    </div>
</div>