---
layout: default
social-image: "https://viglet.org/static_files/img/viglet_logo_hd.png"
---
<div>
    <div class="row text-center" style="margin:0px;display: inherit;">
        <div class="col-lg-10 col-md-11 col-sm-11 col-xs-11 col-centered">
            <img src="/static_files/img/banner/pure_chemistry.jpg" alt="Pure Chemistry" style="width:100%">
            <h2 style="margin:30px; text-align: center;">We look at the new challenges as a great opportunity to find
                solutions that are scalable and persistent. </h2>
        </div>
    </div>
</div>
<a target="_blank" style="color: white;text-decoration: none;" href="https://www.facebook.com/viglet">
    <div id="redesocial" class="row" style="margin:0px;">
        <div class="col-lg-12"
            style="background-color: #6d84b4; text-align: center; margin-top: 30px; padding-bottom: 50px; padding-top: 60px; border-top: 1px solid #e1e1e1;">
            <img src="/static_files/img/facebook-icon.png" alt="facebook" width="50" height="50"
                style="margin-bottom: 20px">
            <h3 style="color: white"> Follow the news of Viglet.<br>Join our page on Facebook! </h3>
        </div>
    </div>
</a>
<div class="d-none d-md-block">
    {% assign row_type = false %}
    {% assign stable_solutions = site.solutions | where:"status", "stable" %}
    {% for solution in stable_solutions %}

    {%- if row_type -%}
    {% assign row_type = false %}
    {%- else -%}
    {% assign row_type = true %}
    {%- endif -%}

    {%- if row_type -%}
    <div class="row text-center" style="margin: 0px;margin-top:50px;display: inherit;">
        <div class="col-lg-7 col-md-6 col-centered" style="text-align:right">
            <h2><a target="_blank" href="{{ solution.permalink }}"
                    style="color:#444;text-decoration: none;font-weight: bolder;">{{ solution.short-name }}</a></h2>
            <h3>{{ solution.description }}</h3>

        </div>
        <div class="col-lg-2 col-md-3 col-centered hidden-xs hidden-sm" style="text-align:right;max-width: 245px;">
            <a target="_blank" href="{{ solution.permalink }}">
                {%- include solution-home-logo.html -%}
            </a>
        </div>
    </div>
    {%- else -%}
    <div class="row text-center" style="margin: 0px;margin-top:50px;display: inherit;">
        <div class="col-lg-2 col-md-3  col-centered hidden-xs hidden-sm;" style="max-width: 205px;">
            <a target="_blank" href="{{ solution.permalink }}">
                {%- include solution-home-logo.html -%}
            </a>
        </div>
        <div class="col-lg-7 col-md-6 col-centered" style="padding-left:40px">
            <h2><a target="_blank" href="{{ solution.permalink }}"
                    style="color:#444;text-decoration: none;font-weight: bolder;">{{ solution.short-name }}</a></h2>
            <h3>{{ solution.description }}</h3>
        </div>
    </div>
    {%- endif -%}
    {% endfor %}
</div>
{%- include contact_static.html -%}