---
layout: default
social-image: "https://viglet.com/static_files/img/viglet_logo_hd.png"
---
<div>
    <div class="row row-centered" style="margin:0px;">
        <div class="col-lg-10 col-md-11 col-sm-11 col-xs-11 col-centered">
            <img src="/static_files/img/banner/pure_chemistry.jpg" alt="Pure Chemistry" style="width:100%">
            <h2 style="margin:30px; text-align: center;">We look at the new challenges as a great opportunity to find
                solutions that are scalable and persistent. </h2>
        </div>
    </div>
</div>
<a target="_blank" style="color: white" href="https://www.facebook.com/viglet">
    <div id="redesocial" class="row" style="margin:0px;">
        <div class="col-lg-12"
            style="background-color: #6d84b4; text-align: center; margin-top: 30px; padding-bottom: 50px; padding-top: 60px; border-top: 1px solid #e1e1e1;">
            <img src="/static_files/img/facebook-icon.png" alt="facebook" width="50" height="50"
                style="margin-bottom: 20px">
            <h3 style="color: white"> Follow the news of Viglet.<br>Join our page on Facebook! </h3>
        </div>
    </div>
</a>
<div class="row row-centered" style="margin: 0px;margin-top:75px">
    <div class="col-lg-7 col-md-6 col-centered" style="text-align:right">
        <h2><a target="_blank" href="https://viglet.com/shio" style="color:#444;">Shio CMS</a></h2>
        <p></p>
        <h3>Model Content, Use GraphQL and Create Site<br> using Javascript with Native Cache and Search.</h3>
        <p></p>
    </div>
    <div class="col-lg-2 col-md-3 col-centered hidden-xs hidden-sm" style="text-align:right">
        <a target="_blank" href="https://viglet.com/shio"><img src="/static_files/img/projects/shiohara2_1024.png"
                alt="Shio CMS" width="180" height="180"></a>
    </div>
</div>
<div class="row row-centered" style="margin: 0px;">
    <div class="col-lg-2 col-md-3  col-centered hidden-xs hidden-sm">
        <a target="_blank" href="https://viglet.com/turing"><img src="/static_files/img/projects/Turing2_1024.png"
                alt="Turing AI" width="180" height="180"></a>
    </div>
    <div class="col-lg-7 col-md-6 col-centered">
        <h2><a target="_blank" href="https://viglet.com/turing" style="color:#444;">Turing AI</a></h2>
        <p></p>
        <h3>Semantic Navigation, Chatbot using Search Engine and Many NLP Vendors.</h3>
        <p></p>
    </div>
</div>
<div class="row row-centered" style="margin: 0px;">
    <div class="col-lg-7 col-md-6 col-centered" style="text-align:right">
        <h2><a target="_blank" href="https://viglet.com/vecchio" style="color:#444;">Vecchio Auth</a></h2>
        <p></p>
        <h3>Allows to create authentication and authorization layers to access API<br> with proactive monitoring.</h3>
        <p></p>
    </div>
    <div class="col-lg-2 col-md-3 col-centered hidden-xs hidden-sm" style="text-align:right">
        <a target="_blank" href="https://viglet.com/vecchio"><img src="/static_files/img/projects/vecchio-logo.png"
                alt="Vecchio Auth" width="180" height="180"></a>
    </div>
</div>