---
layout: default
social-image: "https://viglet.org/static_files/img/viglet_logo_hd.png"
---
<div>
    {% assign solution = site.solutions | where:"identifier", page.identifier | first %}
    <div class="row text-center"
        style="display: inherit;margin:0px;background:#ffc63a;color: black">
        <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-centered" style="padding:80px">
            <p style="font-size:70px;text-align:center;line-height: 120%;">
                <b>Become a Viglet Partner</b>
            </p>
            <div style="font-size:30px;text-align:center;line-height: 120%;">
                <p>Viglet has several innovative solutions that your company can provide to your customer. Join us on this
                journey and make your customer's eyes shine.</p>
                <p>Please tell us more about yourself and your interest in partnering with Viglet.</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact Section -->
<section id="contact" class="container px-4 py-5">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="pb-2 border-bottom">Contact</h2>
            <hr class="star-primary">
        </div>
    </div>
    <form action="https://formspree.io/f/moqyjjka" method="POST" name="sentMessage" id="contactForm"
        class="form-floating" novalidate>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" name="name" id="name" required
                data-validation-required-message="Please enter your name." placeholder="name@example.com">
            <label for="floatingInput">Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" name="_replyto" class="form-control" id="email" required
                data-validation-required-message="Please enter your email address." placeholder="Email Address">
            <label for="email">Email Address</label>
        </div>
        <div>
            <input type="hidden" name="_subject" value="Become a partner">
            <input type="text" name="_gotcha" style="display:none" />
        </div>
        <div class="form-floating mb-3">
            <textarea rows="5" style="min-height: 150px;" name="message" class="form-control" placeholder="Message"
                id="message" required data-validation-required-message="Please enter a message."></textarea>
            <label for="message">Message</label>
        </div>
        <div id="contact-status"></div>
        <div class="row">
            <div class="form-group col-xs-12 d-grid gap-2" style="text-align: center;">
                    <button class="btn btn-lg"
                    style="background:#ffc63a;color: black;">Send</button>
                
            </div>
        </div>
    </form>
</section>